<footer class="footer">
    <div class="additional-info">
        <div class="additional-info-inner">
            <div>&copy; 2024 Coral , Inc.</div>
            <div class="footer-payments">
                <img src="/images/icons/icons_payment.svg" alt="payments">
            </div>
            <div>
                <a href="#header">Scroll To Top <img src="/images/icons/scrollTop.svg" alt="scroll to top"></a>
            </div>
        </div>
    </div>
    <script src="/splide.min.js"></script>
    <script src="/app.js"></script>
</footer>