<footer class="footer">
    <div class="inner">
        <a class="logo" href="#">
            <img src="/images/icons/arrows-logo.svg" alt="arrows">
            <span>CORAL</span>
            <img src="/images/icons/arrows-logo.svg" alt="arrows">
        </a>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda hic eius perferendis modi eaque aliquam voluptates iusto! Quae, distinctio accusamus.</p>
        <div class="social-media">
            <a href="" target="_blank" class="instagram"><img src="/images/icons/instagram.svg" alt="instagram"></a>
            <a href="" target="_blank" class="facebook"><img src="/images/icons/facebook.svg" alt="facebook"></a>
            <a href="" target="_blank" class="linkedIn"><img src="/images/icons/linkedIn.svg" alt="linkedIn"></a>
            <a href="" target="_blank" class="twitter"><img src="/images/icons/twitter.svg" alt="twitter"></a>
        </div>
    </div>
    <div class="additional-info">
        <div class="additional-info-inner">
            <div>&copy; 2024 Coral , Inc.</div>
            <div class="footer-payments">
                <img src="/images/icons/icons_payment.svg" alt="payments">
            </div>
            <div>
                <a href="#header">Scroll To Top <img src="/images/icons/scrollTop.svg" alt="scroll to top"></a>
            </div>
        </div>
    </div>
    <script src="/splide.min.js"></script>
    <script src="/index.js"></script>
</footer>