<header class="header" id="header">
    <div class="inner">
        <nav class="navbar">
            <a href="" class="shoping"><img src="/images/icons/shoping.svg" alt="shoping"> Shoping</a>
            <a class="logo" href="/">
                <img src="/images/icons/arrows-logo.svg" alt="arrows">
                <span>CORAL</span>
                <img src="/images/icons/arrows-logo.svg" alt="arrows">
            </a>
            <ul class="navigation">
                <li><a href="/account"><img src="/images/icons/user.svg" alt="user"> Account</a></li>
            </ul>
        </nav>
        <menu class="menu">
            <ul>
                <li><a href="">Jewelry & Accessories</a></li>
                <li><a href="">Clothing & Shoes</a></li>
                <li><a href="">Home & Living</a></li>
                <li><a href="">Wedding & Party</a></li>
                <li><a href="">Toys & Entertainment</a></li>
                <li><a href="">Art & Collectibles</a></li>
                <li><a href="">Craft Supplies & Tools</a></li>
            </ul>
        </menu>
    </div>
</header>