<section class="top-main-wrapper">
    <div class="product">
        <div class="content">
            <h2 class="title">Collections</h2>
            <p class="text">You Can Explore Ans Shop Many Differnt Collection
                From Various Barands Here.</p>
            <a href="" class="shop-now"><img src="/images/icons/shoping-white.svg" alt="shoping"> Shop Now</a>
        </div>
        <div class="image-of-product">
            <span><img src="/images/products/19.png" alt="girl"></span><span class="clone-border"></span>
        </div>
    </div>
</section>
<section class="explore-wrapper">
    <div class="brands">
        <ul>
            <li><img src="/images/brand/01.svg" alt="brand"></li>
            <li><img src="/images/brand/02.svg" alt="brand"></li>
            <li><img src="/images/brand/03.svg" alt="brand"></li>
            <li><img src="/images/brand/04.svg" alt="brand"></li>
            <li><img src="/images/brand/05.svg" alt="brand"></li>
        </ul>
    </div>
    <div class="new-styles">
        <div class="vertical-text">Explore new and popular styles</div>
        <a href="" class="big-img">
            <img src="/images/products/18.png" alt="style">
        </a>
        <div class="collection">
            <a href=""><img src="/images/products/01.png" alt="style"></a>
            <a href=""><img src="/images/products/02.png" alt="style"></a>
            <a href=""><img src="/images/products/03.png" alt="style"></a>
            <a href=""><img src="/images/products/20.png" alt="style"></a>
        </div>
    </div>
    <div class="category">
        <h2 class="title">Or Subscribe To The Newsletter</h2>
        <div class="products-menu">
            <div class="filter-menu">
                <div class="category-name">
                    <div class="all-products active">All products</div>
                    <div class="t-shirts">T-shirts</div>
                    <div class="hoodies">Hoodies</div>
                    <div class="jackets">Jackets</div>
                </div>
                <div class="filter-btn"><button><img src="/images/icons/filter.svg" alt="filter"> Filter</button></div>
            </div>
            <div class="product-cards">
                <div class="card">
                    <div class="card-img">
                        <img src="/images/products/15.png" alt="product">
                    </div>
                    <div class="card-title">Adicolor Classics Joggers</div>
                    <div class="type-and-price">
                        <div class="type">Dress</div>
                        <div class="price">$63.99</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/images/products/16.png" alt="product">
                    </div>
                    <div class="card-title">Adicolor Classics Joggers</div>
                    <div class="type-and-price">
                        <div class="type">Dress</div>
                        <div class="price">$63.99</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/images/products/12.png" alt="product">
                    </div>
                    <div class="card-title">Adicolor Classics Joggers</div>
                    <div class="type-and-price">
                        <div class="type">Dress</div>
                        <div class="price">$63.99</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/images/products/17.png" alt="product">
                    </div>
                    <div class="card-title">Adicolor Classics Joggers</div>
                    <div class="type-and-price">
                        <div class="type">Dress</div>
                        <div class="price">$63.99</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/images/products/15.png" alt="product">
                    </div>
                    <div class="card-title">Adicolor Classics Joggers</div>
                    <div class="type-and-price">
                        <div class="type">Dress</div>
                        <div class="price">$63.99</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/images/products/15.png" alt="product">
                    </div>
                    <div class="card-title">Adicolor Classics Joggers</div>
                    <div class="type-and-price">
                        <div class="type">Dress</div>
                        <div class="price">$63.99</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/images/products/17.png" alt="product">
                    </div>
                    <div class="card-title">Adicolor Classics Joggers</div>
                    <div class="type-and-price">
                        <div class="type">Dress</div>
                        <div class="price">$63.99</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img src="/images/products/12.png" alt="product">
                    </div>
                    <div class="card-title">Adicolor Classics Joggers</div>
                    <div class="type-and-price">
                        <div class="type">Dress</div>
                        <div class="price">$63.99</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="zara-collection-wrapper">
    <div class="inner">
        <div class="empty"></div>
        <div class="content">
            <div class="zara-logo">
                <img src="/images/zara-logo.svg" alt="zara">
            </div>
            <div class="text">Lustrous yet understated. The new evening
                wear collection exclusively offered at the
                reopened Giorgio Armani boutique in Los
                Angeles.
            </div>
            <div class="see-collection-btn">
                <a href="">See Collection</a>
            </div>
        </div>
    </div>
</section>
<section class="best-sellers-wrapper">
    <div class="inner">
        <h2 class="title">Best Sellers</h2>
        <div id="splide" class="splide carousel-best-sellers">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="card">
                            <div class="card-img">
                                <img src="/images/products/12.png" alt="product">
                            </div>
                            <div class="card-title">Adicolor Classics Joggers</div>
                            <div class="type-and-price">
                                <div class="type">Dress</div>
                                <div class="price">$63.99</div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <div class="card-img">
                                <img src="/images/products/17.png" alt="product">
                            </div>
                            <div class="card-title">Adicolor Classics Joggers</div>
                            <div class="type-and-price">
                                <div class="type">Dress</div>
                                <div class="price">$63.99</div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <div class="card-img">
                                <img src="/images/products/04.png" alt="product">
                            </div>
                            <div class="card-title">Adicolor Classics Joggers</div>
                            <div class="type-and-price">
                                <div class="type">Dress</div>
                                <div class="price">$63.99</div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <div class="card-img">
                                <img src="/images/products/11.png" alt="product">
                            </div>
                            <div class="card-title">Adicolor Classics Joggers</div>
                            <div class="type-and-price">
                                <div class="type">Dress</div>
                                <div class="price">$63.99</div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <div class="card-img">
                                <img src="/images/products/13.png" alt="product">
                            </div>
                            <div class="card-title">Adicolor Classics Joggers</div>
                            <div class="type-and-price">
                                <div class="type">Dress</div>
                                <div class="price">$63.99</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="instagram-and-newsletters-wrapper">
    <div class="inner">
        <h2 class="title">Follow products and discounts on Instagram</h2>
        <div class="collection">
            <img src="/images/products/06.png" alt="product">
            <img src="/images/products/07.png" alt="product">
            <img src="/images/products/08.png" alt="product">
            <img src="/images/products/05.png" alt="product">
            <img src="/images/products/09.png" alt="product">
            <img src="/images/products/10.png" alt="product">
        </div>
        <h2 class="title">Or subscribe to the newsletter</h2>
        <form class="form-email" action="" method="post">
            <input type="email" placeholder="Email Address..." name="email" id="email" required>
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Splide('#splide', {
            type: 'loop',
            perPage: 3,
            focus: 'center',
            autoplay: true,
            interval: 8000,
            flickMaxPages: 3,
            updateOnMove: true,
            pagination: false,
            padding: '10%',
            throttle: 300,
            breakpoints: {
                1440: {
                    perPage: 1,
                    padding: '30%'
                }
            }
        }).mount();
    });
</script>